@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.nav{
    font-family: 'Inter';
    font-size: 27px;
    /* line-height: 33px; */
    padding-top: 20px;
}

.navbar{
    display: flex;
    align-items: end;
}

.nav-item{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    list-style-type: circle;
}

